<%- include("./layout/header.ejs") %>
<link rel="stylesheet" href="/stylesheets/style.css">
<title><%=title %></title>
</head>
<body class="py-12 bg-slate-50">
    <header class="text-center text-3xl font-bold my-4">Create New Blog Post</header>
    <section class="flex justify-center">
        <form method="post" class="flex flex-col max-w-[1000px] items-start gap-5 px-5 " enctype="multipart/form-data" action=<%=action %> >
            <div class="relative imgsect md:w-[80%] lg:w-[50%] rounded-lg">
                <img src=<%if(editableDoc.image){%>
                    <%=editableDoc.image %>
                <%}else{%>
                    "/images/blogCoverImgs/blog1.png"
                <%}%>
                alt="" class="w-full relative rounded-lg" id="imag">
                <input type="file" name="image" class="hidden" id="itemInput" aria-describedby="emailHelp">
                <div class="absolute text-black-100 top-0 flex items-center justify-center bg-[rgba(0,0,0,0.5)] w-full bottom-0 h-full divvy" id="divvy">
                    Upload Img
                </div>
            </div>
            <div class="flex flex-col gap-5 w-full">
                <label for="title" class="text-base md:text-lg lg:w-[50%]">
                    Title
                        <input type="text" id="title" name="title" class="border border-grey-200 outline-purple p-3 rounded mt-2 w-full" required 
                        value="<%=editableDoc?.title%>" >
                    </div>
                </label>
                <label for="title" class="text-base md:text-lg lg:w-[50%]">
                    Tag(Max. 10 characters)
                    <div>
                        <input type="text" name="tag" class="border border-grey-200 outline-purple w-full p-3 rounded mt-2" maxlength="10" required value=<%if(editableDoc){%>
                            <%=editableDoc.tag%>
                        <%}%>>
                    </div>
                </label>
                <label for="content" class="text-base md:text-lg">
                    Content
                    <textarea name="content" class="mt-2 " id="editor" cols="30" rows="10"  required >
                        <%if(editableDoc){%>
                            <%=editableDoc.content%>
                        <%}%>
                    </textarea>
                </label>
            </div>
            <button class="my-3 text-sm md:text-lg p-2 md:px-5 md:py-4 rounded font-semibold bg-purple text-white border border-purple hover:bg-grey-100 hover:text-purple transition-all duration-700">
                Submit
            </button>
        </form>
    </section>

<%- include("./layout/footer.ejs") %>